<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Oblig2_dotNet.Properties.Settings.oblig2_prgConnectionString"
            connectionString="user id=root;server=localhost;database=oblig2_prg"
            providerName="MySql.Data.MySqlClient" />
        <add name="Oblig2_dotNet.Properties.Settings.oblig2_prg" connectionString="server=localhost;user id=root;database=oblig2_prg"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>